<project>
    <config>
        <data>
            <!--<base_url>http://test-api-c2b.honghuotai.com</base_url>-->
            <username></username>
            <password></password>
        </data>
        <database>
            <host>47.93.38.221</host>
            <user>hhtdev</user>
            <password></password>
            <db>hht_cloud</db>
        </database>
    </config>
    <cases>
        <!--<Register-register01/>-->
        <!--<Register-register02/>-->
        <!--<AddEvent-add_event01/>-->
        <!--<EventDetail-get_eventdetail01/>-->
        <!--<BLogin-login01/>-->
        <!--<BLogin-login02/>-->
        <!--<BLogin-login03/>-->
        <!--<BLogin-login04/>-->
        <!--<CreateAppointment-createAppointment01/>-->
        <!--<CreateAppointment-createAppointment02/>-->
        <!--<CreateAppointment-createAppointment03/>-->
        <MLogin-login01/>
        <!--<GetBusinessAppOrderList-getBusinessAppOrderList01/>-->
        <!--<GetBusinessAppOrderList-getBusinessAppOrderList02/>-->
        <!--<GetBusinessAppOrderList-getBusinessAppOrderList03/>-->
        <!--<UpdateOrderStatus-updateOrderStatus01/> #拒绝-->

    </cases>
</project>